header {
    min-width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
	margin-top: 15px;
    align-items: center;
}
header img {
    width: 100%;
    height: auto;
}
header img:hover {
    cursor: pointer;
}
.block {
    display: inline-block;
    text-align: center;
    box-shadow: 1px 1px 10px 1px black;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
	margin-top: 15px;
    color: white;
}
.block:hover {
    box-shadow: 1px 1px 10px 1px #455974;
	transform: scale(0.95);
	-moz-filter: grayscale(70%);
	-webkit-filter: grayscale(70%);
	-o-filter: grayscale(70%);
	cursor: pointer;
	color: #211B16;
}
.color1 {
	background: #008040;
}
.color2 {
	background: #a3297a;
}
.color3 {
	background: #997a00;
}
.color4 {
	background: #01A9DB;
}
h1 {
	font-size: 1.5em;
    font-weight: 400;
}
h2 {
	font-family: 'Exo 2', sans-serif;
	font-size: 1.6em;
	cursor: pointer;
}
h3 {
	font-size: 2em;
	font-family: 'Kelly Slab', cursive;
}
p {
	font-family: 'Exo 2', sans-serif;
}
h4 {
	font-family: 'Kelly Slab', cursive;
	font-size: 1.6em;
	cursor: pointer;
}
h6 {
	font-family: 'Varela Round', sans-serif;
	font-size: 1em;
	cursor: pointer;
	transition: all 0.6s;
}
h6:hover {
	transform: scale(1.1);
}
footer {
    min-width: 100%;
    min-height: 50px;
	margin-bottom: 15px;
	margin-top: 15px;
    display: flex;
	color: white;
    justify-content: center;
}
footer img {
    margin: 8px;
    box-shadow: 1px 1px 10px 1px black;
}
footer img:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px #455974;
    filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-webkit-filter: grayscale(70%);
	-o-filter: grayscale(70%);
    transform: scale(0.95);
    -webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.desc {
	font-family: 'Exo 2', sans-serif;
	font-size: 1.1em;
}
.portfolio {
    display: inline-block;
    text-align: center;
    box-shadow: 1px 1px 10px 1px black;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
	margin-top: 15px;
    color: white;
    background-color: darkslategrey;
}
.portfolio:hover {
    box-shadow: 1px 1px 10px 1px #455974;
	filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-webkit-filter: grayscale(70%);
	-o-filter: grayscale(70%);
	cursor: pointer;
	color: black;
}
