<Files xmlrpc\.php>
Deny from all
</Files>



RewriteEngine On
RewriteRule twoja-strona-internetowa index.html
RewriteRule o-mnie o-mnie.html
RewriteRule skillset skillset.html
RewriteRule portfolio portfolio.html